<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dynamic HTMX form</title>
    <!-- Include HTMX CDN -->
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>
</head>
<body>

    <h2>Please select a market category you want to buy/sell</h2>
    <form method="POST" action="/submit-category">
        <div>
            <label for="category">Market</label>
            <!-- The select will be rendered with Go template engine -->
            <select id="category" name="category">
                {{range .Categories}}
                    <option value="{{.ID}}">{{.EnName}}</option>
                {{end}}
            </select>
        </div>
        <div>
            <label for="category">Submarket</label>
            <!-- The select will be rendered with Go template engine -->
            <select id="category" name="category">
                {{range .Categories}}
                    <option value="{{.ID}}">{{.EnName}}</option>
                {{end}}
            </select>
        </div>



        <button type="submit">Submit</button>
    </form>

</body>
</html>
